/* =======================================================================================================================================*/
/* UNIVERSALE STYLING ====================================================================================================================*/
/* =======================================================================================================================================*/

body {
	background-color: black;
	font-family: 'Special Elite', cursive;
}

h2{
	margin: 0px;
}

.btn {
	background-color: #342924;
	color: white;
	border: none;
	margin: 5px;
	transition: all 250ms ease;
}

.btn:hover {
	background-color: #796054;
	color: #181411;
	border: none;
}

.btn::after {
	background-color: #342924;
	color: white;
}

/* =======================================================================================================================================*/
/* SIDEBAR STYLING =======================================================================================================================*/
/* =======================================================================================================================================*/

#sidebar {
    position:fixed;
    top:0;
		bottom:0;
		left:0;
    width: 80px;
		height: 200%;
		padding: 1%;
    background-color: #342924;
		background-image: url(/images/sidebar_bkgd.png);
		background-position: right;
}

nav {
	position: relative;
	right: 170px;
	top: 60px;
	width: 400px;
	padding: none;
	margin: none;
	/*ROTATE EFFECT*/
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

nav .btn{
	display: block;
}

nav h2{
	display: block;
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Stardos Stencil', cursive;
	margin: 0px;
	padding: 0px;
}

/* =======================================================================================================================================*/
/* BODY STYLING ==========================================================================================================================*/
/* =======================================================================================================================================*/

#content-wrapper {
	display: block;
	padding: 16px 0 0 100px;
}

.char-thumb{
	position: relative;
	display: block;
	background-color: #d5d5d5;
	background-size: cover;
	border-radius: 10px;
	float: left;
	margin: 10px;
	padding: 10px;
	width: 45%;
	color: black;
	/*text-shadow: 2px 2px 4px white;*/
}

.char-full{
	width: 92%;
}

.backstory{
	background-color: rgba(52, 41, 36, 0.75);
	padding: 10px;
	border-radius: 5px;
	text-shadow: none;
	color: white;
}


/* =======================================================================================================================================*/
/* FORM STYLING =========================================================================================================================*/
/* =======================================================================================================================================*/

input{
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	border: none;
	border-bottom: 2px solid black;
}

.backstory-input{
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	height: 100px;
	border: 2px solid black;
}

.new_char_form{
	overflow: scroll;
}

/* =======================================================================================================================================*/
/* STRAIN STYLING ========================================================================================================================*/
/* =======================================================================================================================================*/

.strain-thumb{
	position: relative;
	display: block;
	background-color: #d5d5d5;
	background-size: cover;
	border-radius: 10px;
	float: left;
	margin: 10px;
	padding: 10px;
	width: 30%;
	height: 20vh;
	color: black;
	overflow: hidden;
}

.strainTable{
	margin: 10px 0px;
}
.strainTable td{
	padding-right: 10px;
}

.strainMode h2, h3, h4, h5{
	font-weight: 700;
}

/* =======================================================================================================================================*/
/* BUILD STYLING =========================================================================================================================*/
/* =======================================================================================================================================*/

.your{
	position: relative;
	width: 200px;
	right: 80px;
	top: 80px;
	/*height: 200px;*/
	/*ROTATE EFFECT*/
	/* Safari */
	-webkit-transform: rotate(90deg);
	/* Firefox */
	-moz-transform: rotate(90deg);
	/* IE */
	-ms-transform: rotate(90deg);
	/* Opera */
	-o-transform: rotate(90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}

#build {
  position: fixed;
  top: 40px;
  right: 0;
  width: 50px;
  height: 90vh;
  padding: 12px 0;
  text-align: center;
  background: #fffefc;
	background-image: url(/images/build_bkgd.png);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  border-radius: 10px 0 0 10px;
}

#build_inner {
  position: fixed;
  top: 40px;
  right: -80%;
  background: #fffefc;
	background-image: url(/images/build_bkgd.png);
	background-size: cover;
  width: 80%;
  padding: 25px;
  height: 90vh;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  text-align: left;
  border-radius: 10px 0 0 10px;
}

#build:hover {
  right: 250px;
}
#build:hover #build_inner {
  right: 0;
}
