/* =======================================================================================================================================*/
/* UNIVERSAL =============================================================================================================================*/
/* =======================================================================================================================================*/

body {
	background-color: black;
	background-image: url(/images/main_bkgd.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	font-family: 'Special Elite', cursive;
	color: white;
}

#main {
	position: absolute;
	width: 100%;
	height: 93vh;
	left: 50px;
	overflow: scroll;
}

p, h1, h2, h3, h4, h5, h5 {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	text-align: center;
}
a {
	color: #796054
}

a:hover{
	color: #d7ac97;
	text-decoration: none;
}

.btn {
	background-color: #342924;;
	color: white;
	border: none;
	margin: 2px;
	transition: all 250ms ease;
}

.btn:hover {
	background-color: #796054;
	color: #181411;
	border: none;
}

.btn::after {
	background-color: #342924;
	color: white;
}

table {
	width: 100%
}

.lists{
	position: relative;
	padding: 50px;
}

.main-title {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.90);
	color: white;
	width: 100%;
	height: 6vh;
	top: 0px;
	right: 0px;
	padding: 5px;
}
/* =======================================================================================================================================*/
/* SIDEBAR  ==============================================================================================================================*/
/* =======================================================================================================================================*/

#sidebar {
    position:fixed;
    top:0;
		bottom:0;
		left:0;
    width: 60px;
		height: 200%;
		padding: 1%;
    background-color: #342924;
		background-image: url(/images/sidebar_bkgd.png);
		background-size: cover;
		background-position: right;
		z-index: 3;
}

nav {
	position: relative;
	right: 380px;
	top: 10px;
	width: 800px;
	padding: none;
	margin: none;
	/*ROTATE EFFECT*/
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

nav .btn{
	display: block;
}

nav h3{
	display: block;
	color: black;
}

/* =======================================================================================================================================*/
/* INTRO PAGE  ===========================================================================================================================*/
/* =======================================================================================================================================*/

.intro{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.90);
	color: white;
	text-align: center;
	width: 100%;
	height: 15vh;
	padding: 10px;
	z-index: 2;
}

/* =======================================================================================================================================*/
/* STRAINS  ===============================================================================================================================*/
/* =======================================================================================================================================*/

.thumb{
	position: relative;
	display: block;
	background-color: rgba(213, 213, 213, 0.9);
	background-size: cover;
	border-radius: 10px;
	float: left;
	margin: 10px;
	padding: 20px;
	width: 30%;
	height: 20vh;
	color: black;
	overflow: hidden;
}

.strain-full{
	width: 92%;
	height: 50vh;
	overflow: scroll;
}

.strainpic{
	position: relative;
	float: right;

}

.strainTable{
	margin: 10px 0px;
}

.strainTable td{
	padding-right: 10px;
	text-align: center;
}

.strainTable button{
	height: 20px;
	margin: 5px;
}

/* =======================================================================================================================================*/
/* PROFESSIONS  ==========================================================================================================================*/
/* =======================================================================================================================================*/

.prof-full{
	width: 92%;
	height: 50vh;
	overflow: scroll;
}

.profTable{
	margin: 10px 0px;
}

.profTable td{
	padding-right: 10px;
}

/* =======================================================================================================================================*/
/* SKILLS  ===============================================================================================================================*/
/* =======================================================================================================================================*/

.skill-full{
	width: 62%;
	height: 43vh;
	overflow: scroll;
}

.skillCheat{
	width: 100%;
	height: 100vh
}
/* =======================================================================================================================================*/
/* BUILD  ================================================================================================================================*/
/* =======================================================================================================================================*/

.your{
	position: relative;
	width: 300px;
	right: 130px;
	top: 130px;
	/*height: 200px;*/
	/*ROTATE EFFECT*/
	/* Safari */
	-webkit-transform: rotate(90deg);
	/* Firefox */
	-moz-transform: rotate(90deg);
	/* IE */
	-ms-transform: rotate(90deg);
	/* Opera */
	-o-transform: rotate(90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}

#build {
  position: fixed;
  top: 64px;
  right: 0;
  width: 40px;
  height: 90vh;
  text-align: center;
  background: #fffefc;
	background-image: url(/images/build_bkgd.png);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
	border: 2px solid black;
  border-radius: 10px 0 0 10px;
	color: #342924;
	z-index: 2;
}

#build_inner {
  position: fixed;
  top: 64px;
  right: -90%;
  background: #fffefc;
	background-image: url(/images/build_bkgd.png);
	background-size: cover;
  width: 90%;
  padding: 25px;
  height: 90vh;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
	border: 2px solid black;
	border-radius: 10px 0 0 10px;
  text-align: left;
	color: #342924;
	overflow: scroll;
	z-index: 2
}

#build:hover #build_inner {
  right: 0;
}

/* =======================================================================================================================================*/
/* CHARACTER LIST  =======================================================================================================================*/
/* =======================================================================================================================================*/

.char-thumb{
	position: relative;
	display: block;
	background-color: rgba(213, 213, 213, 0.9);
	border-radius: 10px;
	float: left;
	margin: 10px;
	padding: 20px;
	width: 45%;
	color: black;
	/*text-shadow: 2px 2px 4px white;*/
}

.char-full{
	width: 92%;
}

/*.backstory{
	background-color: rgba(52, 41, 36, 0.75);
	padding: 10px;
	border-radius: 5px;
	text-shadow: none;
	color: white;
}*/

.modal-content{
	background: #fffefc;
	background-image: url(/images/build_bkgd.png);
	background-size: cover;
	color: #342924;
}

.bedit{
	font-size: .75em;
}

/* =======================================================================================================================================*/
/* FORM  ================================================================================================================================*/
/* =======================================================================================================================================*/

input{
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	border: none;
	border-bottom: 2px solid black;
}

.backstory-input{
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	height: 100px;
	border: 2px solid black;
}

.new_char_form{
	overflow: scroll;
}

/* =======================================================================================================================================*/
/* FOOTER ================================================================================================================================*/
/* =======================================================================================================================================*/

footer{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	bottom: 0px;
	padding: 6px;
	text-align: center;
}

footer p{
	left: 120px;
	font-size: .75em;
}
